.wrap {
    display: block;
    position: relative;
    padding: 20px 16px 20px 16px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 12px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 303px;
}

.heading {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    color: var(--main-color-secondary);
}




